body {
	background-color: thistle;
	font-family: 'Russo One', sans-serif;
}

.play-area {
	display: block;
	width: 50%;
	height: 150px;
	margin: 10% auto;
	background-color: mistyrose;
	color: navy;
}

img {
	border: 1px solid navy;
	border-radius: 20%;
}

.hang-container {
	display: flex;
	flex-direction: row-reverse;
	width: 50%;
	height: 50px;
	margin: 0 auto;
}

.hang  {
	margin: 0 auto;
	padding: 5px;
	font-family: 'Russo One', sans-serif;
	font-size: 50px;
	color: navy;
}

label {
	font-size: 33px;
}

.input-style {
	padding: 20px;
	margin: 0 auto;
}

.tile-container {
	width: 800px;
	height: 150px;
	margin: 10px;
}

.tile {
	display: inline-block;
	width: 50px;
	height: 70px;
	background-color: white;
	color: purple;
	font-weight: bold;
	font-size: 40px;
	border: 3px solid red;
	text-align: center;
	margin: 5px;

}

.black-tile {
	display: inline-block;
	width: 50px;
	height: 70px;
	background-color: black;
	color: purple;
	font-weight: bold;
	font-size: 40px;
	border: 3px solid red;
	text-align: center;
	margin: 5px;
}

.submit {
	width: 150px;
	height: 40px;
	font-size: 33px;
	background-color: navy;
	color: white;
	font-family: 'Russo One', sans-serif;
}

.new-challenge-button-nz-cities, .new-challenge-button-bands, .new-challenge-button-ice-cream {
	width: 150px;
	height: 100px;
	font-family: 'Russo One', sans-serif;
	font-size: 20px;
	background-color: red;
	color: white;
	padding: 3px;
	margin: 20px;
}